h1{
    color:white;
    text-align:center;
    font-weight: bold;
    font-size: 32px;
    margin: 40px;
    justify-self: unset;
}
ul{
    display: flex;
    justify-content: center;
    gap:20px;
    list-style: none;
    flex-wrap: wrap;
    padding:20px;
}
a{
    display: inline-block;
    padding: 15px 20px;
    background-color:black;
    color:white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}
a:hover{
    background-color:linen;
    color:darkgray
}
body{
    background-image:url(map.png);
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    margin:0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
    position: relative;
    overflow: hidden;
}

#clock {
    position:fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.pin{
    position: absolute;
    width: 40px;
    height: auto;
    
    opacity: 0;
    transform: translateY(-300px);
    transform-origin: bottom center;
    
    animation: stabbing 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.pin1{animation-delay: 0.2s; }
.pin2{animation-delay: 0.5s; }
.pin3{animation-delay: 0.8s; }
.pin4{animation-delay: 0.11s; }
.pin5{animation-delay: 0.14s; }
.pin6{animation-delay: 0.17s; }

@keyframes stabbing{
    0%{
        opacity: 0;
        transform: translateY(-300px) scaleY(1.2);
    }
    70%{
        opacity:1 ;
        transform: translateY(0) scaleY(0.7);
    }
    100%{
        opacity: 1;
        transform: translate(0) scaleY(1);
    }
}
