h1{
    color:#006994;
    text-align:center;
    font-size: 38px;
    margin: 40px;
}
ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
    padding:20px;
}
a{
    display: inline-block;
    padding: 15px 20px;
    background-color:black;
    color:white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}
a:hover{
    background-color:linen;
    color:darkgray
}
body{
    background-color: ;
}
