@charset "UTF-8"; 
body {
    margin: 0;
    padding: 0;
    background-color: #f7f6f2; 
    
}

article {
    max-width: 1000px;  
    margin: 0 auto;  
    padding: 30px; 
    color:rgb(20, 20, 20)   
}

img{                          
    display: block;           
    margin: 0 auto;           
}



.hero-img{
    width: 100%;      
    height: auto;
    display: block;
    margin: 0;
}



h2{
    font-size:3rem;
}

h3{
    font-size:2rem;
}

.bigbox{
    position: relative;
    width: 100%;
}
.hero1-img{
    width: 100%;
    height: auto;
    display :block;
    margin: 0;
}

h1{
    position: absolute;
    top: 90%;
    left: 40px;
    
    font-size: 4rem;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin: 0;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}